@font-face {font-family: "Century Gothic";
    src: url("fonts/century-gothic.eot");
    src: url("fonts/century-gothic.eot?#iefix") format("embedded-opentype"),
    url("fonts/century-gothic.woff2") format("woff2"),
    url("fonts/century-gothic.woff") format("woff"),
    url("fonts/century-gothic.ttf") format("truetype"),
    url("fonts/century-gothic.svg#Century Gothic") format("svg");
}
@font-face {font-family: "Avenir Book";
    src: url("//db.onlinewebfonts.com/t/331ec49c0d78e469c42c1d814dd45838.eot");
    src: url("//db.onlinewebfonts.com/t/331ec49c0d78e469c42c1d814dd45838.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/331ec49c0d78e469c42c1d814dd45838.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/331ec49c0d78e469c42c1d814dd45838.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/331ec49c0d78e469c42c1d814dd45838.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/331ec49c0d78e469c42c1d814dd45838.svg#Avenir Book") format("svg");
}
body{
    font-family: "Century Gothic";
    position: relative;
}
/*========== Menu Início =========*/
.menu{
    position: absolute;
}
.menu__nav{
    background: #fff;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1% 0%;
    top:0%;
    left:0%;
}
.nav__logo{
    width: 4vw;
}
.nav__logo img{
    width: 6vw;
    align-items: center;
}
.nav__container{
    display: flex;
    justify-content: space-between;
    width: 62%;
    align-items: baseline;
}
.menu__site{
    width: 70%;
}
.menu__site ul{
    display: flex;
    justify-content: space-between;
}
.menuText{
    font-family: "Century Gothic";
    font-size: 1.4rem;
}
.menuText a{
    color: #6e4d31;
    font-weight: 700;
}
.nav__redeSocial{
    width: 14vw;
    padding-top: 2%;
}
.nav__redeSocial ul{
    display: flex;
    justify-content: space-between;
}
.redeSocial_img{
    width: 2.5vw;
}
#img_facebook{
    width: 1.3vw;
}
/*========== Menu Fim =========*/
#start{
    padding-top: 100px;
    background: #ef6e2691;
    display: flex;
    min-height: 200px;
}
.sideLeft{
    width: 45%;
    padding: 5% 0% 4% 8%;
}
.foto{
    box-shadow: -20px -16px #A3DBA5; 
    width: 88%;
}
.sideRigth{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 3%;
    color: #fff;
    font-size: 2rem;
    padding: 3% 4% 3% 0%;
    width: 55%;
}
.linkAjuda{
    padding: 5%;
    background: #A3DBA5;
    box-shadow: 0px 4px 8px #00000029;
    border-radius: 8px;
    color: #fff;
    font-size: 1.5rem;
}
#quemSomos{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #A3DBA5;
    color: #fff;
    min-height: 120px;
}
h2, h3, h4, h5, h6{
    padding: 4% 0%;
    font-size: 2.4rem;
}
#quemSomos p{
    width: 84%;
    font-family: "Avenir Book";
    font-size: 1.4rem;
    line-height: 34px;
    text-align: justify;
}
.containerGupo{
    display: flex;
    width: 86%;
}
.fotoGupo{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-bottom: 4%;
}
.fotoGupo img{
    width: 40%;
}
#comoAjudar{
    background: #E3E7EC;
    color: #424A55;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.containerAjuda{
    width: 82vw;
    padding-bottom: 4%;
}
.containerAjuda p{
    font-family: "Avenir Book";
    font-size: 1.4rem;
    line-height: 26px;
    padding: 1.5% 0%;
    text-align: justify;
}
.doacoes{
    display: flex;
    align-items: center;
    width: 100%;
    text-align: justify;
}
.doacoes__one p{
    width: 94%;
    font-family: "Avenir Book";
    font-size: 1.4rem;
    line-height: 26px;
    padding: 1.2% 0%;
}
.doacoes__two{
    width: 50%;
}
.doacoes__two img{
    width: 100%;
    box-shadow: -15px -10px #F7B692;
}
p span{
    padding-right: 1.5%;
}
#emAcao{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color:#424A55;
}
.videos{
    display: flex;
    justify-content: space-around;
    width: 88vw;
    padding-bottom: 2%;
}
#emAcao h6{
    width: 72vw;
    text-align: center;
    line-height: 48px;
}
/*========== Footer Início =========*/
footer{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    background: #E3E7EC;
    padding: 4% 0%;
}
.containerFooter{
    display: flex;
    justify-content: space-around;
    width: 76vw;
}
.conteinarText{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.colunm__footer{
    width: 22vw;
    color: #424A55;
    font-family: "Avenir Book";
    font-size: 1;
    line-height: 26px;
}
.colunm__footer p{
    width: 80%;
}
.title{
    padding: 6% 0%;
}
.colunm__center{
    width: 100%;
    display: flex;
}
.colunm__center img{
    width: 5%;
    padding-right: 4%;
}
.colunm__rede{
width: 1vw;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: flex-end;
font-size: 34px; 
color:#424A55;
}
.fa{
    width: 6%;
    text-align: center;
}
@media screen and (max-width: 1050px){
    /*========== Menu Início =========*/
    .menuText{
        font-size: 1.2rem;
    }   
    /*========== Menu Fim =========*/
    .colunm__center img{
        width: 8%;
    }
}
@media screen and (max-width: 880px){
    /*========== Menu Início =========*/
    .menu__nav{
        padding-top: 3%;
    }
    .nav__container{
        width: 82%
    }
    /*========== Menu Fim =========*/
    h1, h2, h3, h4, h5, h6{
        font-size: 1.4rem;
    }
    .linkAjuda{
        font-size: 1rem;
        padding: 4%;
    }
    #quemSomos p{
        font-size: 1rem;
    }
    .containerAjuda p{
        font-size: 1rem;
    }
    .doacoes{
        flex-direction: column;
    }
    .doacoes__two{
        align-items: center;
    }
    .containerFooter{
        flex-direction: column;
    }
    .colunm__rede{
        flex-direction: row;
        width: 100%;
        padding-top: 4%;
    }
} 
@media screen and (max-width: 650px){
   /*========== Menu Início =========*/
    .menu__nav{
        padding-top: 2%;
    }
    .nav__logo img {
        width: 10vw;
    }
    .nav__container{
        width: 72%
    }
    .nav__redeSocial{
        width: 20vw;
    }
    .redeSocial_img{
        width: 4.8vw;
    }
    #img_facebook{
        width: 2.8vw;
    }
    /*========== Menu Fim =========*/
    #start{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 120px;
        padding-bottom: 4%;
    }
    .sideLeft, .sideRigth {
        width: 80%;
    }
    .foto{
        width: 70%;
    }
    .containerGupo{
        width: 80%;
        flex-direction: column;
    }
    .videos{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    video{
        width: 100%;
        padding: 4%; 
    }
    .conteinarText{
        flex-direction: column;
    }
    .colunm__footer {
        width: 100vw;
    }
    .title{
        padding: 4% 0%;
    }
    .colunm__center img {
        width: 3%;
    }
} 
@media screen and (max-width: 550px){
    /*========== Menu Início =========*/
    .nav__container{
        flex-direction: column;
        justify-content: center;
    }
    .nav__logo img {
        width: 14vw;
        padding-top: 14%;
    }
    .menu__site {
        width: 100%;
        padding-top: 1%;
    }
    .nav__redeSocial{
        width: 56vw;
        justify-content: space-around;
        padding-left: 10%;
        padding-top: 6%;
    }
    /*========== Menu Fim =========*/
}
@media screen and (max-width: 450px){
    /*========== Menu Início =========*/
    .nav__logo img {
        width: 16vw;
    }
    .redeSocial_img{
        width: 6.6vw;
    }
    #img_facebook{
        width: 3.6vw;
    }
    /*========== Menu Fim =========*/
}